{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "prettier",
    "react"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "prettier/@typescript-eslint",
        "plugin:@typescript-eslint/recommended"
      ],
      "plugins": [
        "@typescript-eslint"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json",
        "tsconfigRootDir": "./"
      }
    }
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "src",
          "node_modules"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "camelcase": "off",
    "comma-dangle": [
      "error",
      "never"
    ],
    "default-case": "off",
    "function-paren-newline": [
      "error",
      "consistent"
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "max-len": [
      "warn",
      {
        "code": 120,
        "tabWidth": 4,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "error",
          "warn"
        ]
      }
    ],
    "no-mixed-operators": "error",
    "no-multi-spaces": [
      "error",
      {
        "ignoreEOLComments": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-underscore-dangle": "off",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true
      }
    ],
    "no-use-before-define": "off",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "operator-linebreak": [
      "warn",
      "after"
    ],
    "prefer-destructuring": "off",
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "quote-props": [
      "error",
      "consistent-as-needed",
      {
        "keywords": false,
        "unnecessary": true,
        "numbers": false
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "react/destructuring-assignment": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "react/jsx-indent": [
      "error",
      4
    ],
    "react/jsx-indent-props": [
      "error",
      4
    ],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-tag-spacing": "error",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2,
    "react/require-default-props": "off",
    "react/static-property-placement": [
      "warn",
      "static public field"
    ],
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
